<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
<link rel="stylesheet" href="/css/spinner.css" type="text/css">
<style>


#container
{
width: 100%;
height: 700px;
margin: 10px auto;
background-color: #fff;
color: #333;
line-height: 130%;
}

#graph
{
float: left;
width: 500px;
height: 700px;
}

#errors
{
margin-left: 530px;
padding: 1em;
font-size:12px;
}


#graph p { margin: 0 0 1em 0; }
#errors h2 { margin: 0 0 .5em 0; }

</style>
<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>

<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-46742907-3', 'auto');
ga('send', 'pageview');

</script>
</head>
<body>
<div id="container">
	<div id="graph">
		<img src="/public/images/<%=appid%>_<%=tierid%>.png"/>
	</div>
	<div id="errors" class="datagrid" ng-app="" ng-controller="errorController">
		<p><a href="<%=url%>" target="_blank">Click here to see exceptions in AppDynamics</a></p> 
		<p>Fetching exceptions that are trending for the last <b>15</b> minutes.</p>
		<table class="pure-table">
			<thead>
				<tr>
			  		<th>Exception</th>
			  		<th>15 Minute Avg</th>
			  		<th>15 Minute Max</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="err in exceptions" ng-class-odd="'alt'">
				    <td><a href="{{err.url}}" target="_blank">{{err.name}}</a></td>
				    <td>{{err.minavg }}</td>
				    <td>{{err.max }}</td>
				</tr>
			</tbody>
		</table>
		<div id="waitmessage"><p>Please wait, this can take 1+ minutes.</p> <div id="spinner" class="throbber">	Loading...</div>
			<p ng-hide="response | isEmpty">{{response | json}}</p>	
		</div>
		
	</div>
</div>
<script>
function errorController($scope,$http,$q) {
  
  		$scope.timeout = 300;
        $scope.delay = 5;
        
        function httpRequestHandler () {
            var timeout = $q.defer(),
                result = $q.defer(),
                timedOut = false,
                httpRequest;
            
            setTimeout(function () {
                timedOut = true;
                timeout.resolve();
            }, (1000 * $scope.timeout));
            
            httpRequest = $http({
                method : 'get',
                url: '/exceptionstatsjson/<%=appid%>/<%=tierid%>',
                data: '',
                cache: false,
                timeout: timeout.promise
            });
            
            httpRequest.success(function(data, status, headers, config) {
                result.resolve(data);
            });

			httpRequest.error(function(data, status, headers, config) {
                if (timedOut) {
                    result.reject({
                        error: 'timeout',
                        message: 'Request took longer than ' + $scope.timeout + ' seconds.'
                });
                } else {
                    result.reject(data);
                }
            });
            
            return result.promise;
        }
        
        $scope.makeRequest = function () {
            $scope.status = 'Requesting';
            $scope.response = '';
            
            var httpRequest = httpRequestHandler();
            
            httpRequest.then(function (data) {
                $scope.status = 'Complete';
                document.getElementById("waitmessage").style.display = 'none';
  				$scope.exceptions = data;
            
            }, function (error) {
                $scope.status = 'Error';
                $scope.response = error;            
            });
            
        };
  
  		$scope.makeRequest();
  	
}
</script>

</body>
</html>
