<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
<link rel="stylesheet" href="/css/spinner.css" type="text/css">
<style>


#container
{
width: 100%;
height: 700px;
margin: 10px auto;
background-color: #fff;
color: #333;
line-height: 130%;
}

#graph
{
float: left;
width: 500px;
height: 700px;
}

#errors
{
margin-left: 530px;
padding: 1em;
font-size:12px;
}


#graph p { margin: 0 0 1em 0; }
#errors h2 { margin: 0 0 .5em 0; }

</style>
<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>

<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-46742907-3', 'auto');
ga('send', 'pageview');

</script>
</head>
<body>
<div id="container">
	<div id="graph">
		<img src="/public/images/<%=appid%>_<%=tierid%>.png"/>
	</div>
	<div id="errors" class="datagrid" ng-app="" ng-controller="errorController">
		<p>Fetching exceptions that are above their averages for the last <b>15</b> minutes.</p>
		<table class="pure-table">
			<thead>
				<tr>
			  		<th>Exception</th>
					<th><%=week%> Week Avg</th>
			  		<th>15 Minute Avg</th>
			  		<th>Difference</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="err in exceptions" ng-class-odd="'alt'">
				    <td><a href="{{err.url}}">{{err.name}}</a></td>
				    <td>{{err.weekavg}}</td>
				    <td>{{err.minavg }}</td>
				    <td>{{err.diff }}</td>
				</tr>
			</tbody>
		</table>
		<div id="waitmessage"><p>Please wait, this can take 1+ minutes.</p> <div id="spinner" class="throbber">	Loading...</div></div>
	</div>
</div>
<script>
function errorController($scope,$http) {
  $http.get("/exceptionstatsjson/<%=appid%>/<%=tierid%>")
  .success(function(response) {
  		//console.log("response :"+JSON.stringify(response));
  		document.getElementById("waitmessage").style.display = 'none';
  		$scope.exceptions = response;
  	})
  .error(function(data, status, headers, config) {
    	console.log(data+" "+status+" "+headers+" "+config);
  });
  	
}
</script>

</body>
</html>
